<div class="container">

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="name" class="sr-only">Username</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Username" [(ngModel)]="model.name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="model.password">
        <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
    </form>

</div>